{% extends 'bookings/movie_list.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

{% block title %}Booking History{% endblock %} 

{% block content %}
    <h1 class="title">Showings for {{ user.username }}</h1>
    <ul class="seat-list">
        {% for booking in bookings %}
            <li class="booking-entry">
                <h2>{{ booking.movie }}</h2>
                <p>{{ booking.seat }}</p>
                <p>{{ booking.booking_date }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}